<header>
  <nav>
    <div class="row">
      <img src="../../resources/img/Alethena_horizontal.png" alt="Alethena Logo" class="logo">
      <ul class="main-nav">
        <li><a href="https://www.alethena.com/about/">About</a></li>
        <li><a href="https://github.com/Alethena/Alethena-Shares-Token/blob/master/README.md">Technical Description</a></li>
        <li><a href="http://www.tokenized-shares.ch">Tokenize Your Equity</a></li>
        <li><a href="mailto:contact@alethena.com">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
      <h1>Alethena Claim Support</h1>
  </div>

</header>