<footer>
    <div class="footer-row">
        <div class="col span-1-of-3">
            <ul class="footer-nav">
                <li>Equility AG</li>
                <li>Dammstrasse 16</li>
                <li>6300 Zug</li>
                <li>Switzerland</li>
            </ul>
        </div>

        <div class="col span-1-of-3">
            <ul class="footer-nav">
                <li><a href="https://www.alethena.com/about/">About</a></li>
                <li><a href="#learn-more-section">How It Works</a></li>
                <li><a href="http://www.tokenized-shares.ch">Tokenize Your Equity</a></li>
                <li><a href="mailto:contact@alethena.com">Contact</a></li>
            </ul>
        </div>
        <div class="col span-1-of-3">
            <ul class="social-links">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-row">
        <div class="col span-1-of-3">&copy; 2019 by Alethena. All rights reserved.</div>
        <div class="col span-2-of-3">&copy; 2019 by Alethena. All rights reserved.</div>

    </div>
</footer>