<div class="row boxes">
  <div class="col span-1-of-3">
    <h3>Step 1: Prepare a Claim</h3>

    <div class="container-no-shares">
      <mat-form-field class="no-shares-input">
        <input type="string" matInput id="nonce" placeholder="Your nonce" value="" (change)="setNonce($event)">
      </mat-form-field>
    </div>
    <div class="container-no-shares">
      <mat-form-field class="no-shares-input">
        <input type="string" matInput id="claimedAddress" placeholder="Address to claim" value="" (change)="setAddress($event)">
      </mat-form-field>
    </div>

    <div class="button-container">
      <!-- <button type="button" class="btn" (click)="preclaim()">Prepare Claim</button> -->
      <button mat-raised-button color="primary" (click)="preclaim()">Prepare Claim</button>
    </div>
  </div>

  <div class="col span-1-of-3">
    <h3>Step 2: Make a Claim</h3>

    <div class="container-no-shares">
      <mat-form-field class="no-shares-input">
        <input type="string" matInput id="nonce2" placeholder="Your nonce from step 1" value="" (change)="setNonce2($event)">
      </mat-form-field>
    </div>
    <div class="container-no-shares">
      <mat-form-field class="no-shares-input">
        <input type="string" matInput id="claimedAddress2" placeholder="Address claimed in step 1" value="" (change)="setAddress2($event)">
      </mat-form-field>
    </div>

    <div class="button-container">
      <!-- <button type="button" class="btn" (click)="claim()">Make a Claim</button> -->
      <button mat-raised-button color="primary" (click)="claim()">Make a Claim</button>

    </div>
  </div>


  <div class="col span-1-of-3">
    <h3>Step 3: Resolve a Claim</h3>
    <div class="container-no-shares">
      <mat-form-field class="no-shares-input">
        <input type="string" matInput id="claimedAddress3" placeholder="Address claimed in previous steps" value=""
          (change)="setAddress3($event)">
      </mat-form-field>
    </div>

    <div class="button-container">
      <!-- <button type="button" class="btn" (click)="resolve()">Resolve a Claim</button> -->
      <button mat-raised-button color="primary" (click)="resolve()">Resolve a Claim</button>

    </div>
  </div>
</div>

<div class="row">
  <div class="selected-address">
    Transactions will be made using your currently selected address: <span>{{ account }}</span>
  </div>
</div>