<a id="learn-more-section"></a>
<div class="learn-more">
  <div class="row">
    <div class="col span-5-of-7 main-left">
  
      <h2>Fully tokenized equity on the Ethereum blockchain</h2>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.

      <div class="steps">




        <ul class="steps-list"> 
          <li> <span class="enum"><i class="ion-ios-checkmark-outline"></i></span>
            The first step is to obtain digital Swiss Francs in the form of XCHF.
          <li> <span class="enum"><i class="ion-ios-checkmark-outline"></i></span>
             Log into Metamask & Choose your amount of ALEQ to buy</li>
          <li> <span class="enum"><i class="ion-ios-checkmark-outline"></i></span>
             First pop-up is XCHF payment authorization</li>
          <li><span class="enum"><i class="ion-ios-checkmark-outline"></i></span>
            Second pop-up is the actual purchase of ALEQ</li>
        </ul>
      </div>

    </div>

    
  
    <div class="col span-2-of-7">
    </div>
  </div>
</div>
