<div class="main-box">


  <div class="row">

      <!-- <h2>Fully tokenized equity on the Ethereum blockchain</h2> -->
      <!-- <h2>Explore a fully digital way to become a shareholder</h2> -->
      <h2>Recover your lost Alethena shares</h2>
      <p>
        This page is here to help you in case you lost access to your Alethena shares. 
        It provides you with a simple interface that allows you to reclaim your shares using <a href="https://metamask.io/">MetaMask</a>.
        Before you do anything, please make sure that you fully understand how the <a href="http://">recovery process works</a>. 

      </p>

      <p>
        If you are unsure what steps you need to take to recover your shares, 
        please do not hesitate to contact our team at 
        <a href="mailto:contact@alethena.com">contact@alethena.com</a>.
      </p>



  </div>

  
    <app-share-dispenser></app-share-dispenser>


</div>